@font-face {
  font-family: "Klavika Medium Plain";
  src: url("../fonts/Klavika Medium Plain/Klavika Medium Plain.otf") format("opentype");
}

@font-face {
  font-family: "Myriad Pro Semibold";
  src: url("../fonts/Myriad Pro Semibold/Myriad Pro Semibold.ttf") format ("truetype")
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/Myriad Pro Regular/Myriad Pro Regular.ttf") format ("truetype")
}

@font-face {
  font-family: "Zurich__Condensed_BT";
  src: url("../fonts/Zurich__Condensed_BT/Zurich__Condensed_BT.ttf") format ("truetype")
}

@font-face {
  font-family: "Zurich__Bold_Condensed_BT";
  src: url("../fonts/Zurich__Condensed_BT/Zurich__Bold_Condensed_BT.ttf") format ("truetype")
}