@import "_reset";
@import "_mixins";
@import "_fonts";

html, body {
  height: 100%;
}

#wrapper {
  position: relative;
  min-height: 100%;
}

.main-content-wrapper {
  padding-bottom: 116px;
}


.center {
  margin: 0 auto;
}

.clearfix {
  display: table;
  clear: both;
  content: "";
}

button:focus {
  outline: none;
}

#wrapper {
//  background-color: #f6f3ed;
  background: url(../images/img-backg-wrapper.png) repeat;
  .content-wrapper {
    width: 990px;
    header {
      height: 110px;
      background: url(../images/shape-1-header.jpg) no-repeat 20px 25px;
      .logo {
        padding-top: 35px;
        padding-left: 55px;
        text-transform: uppercase;
        float: left;
        .name-company p {
          font-family: "Klavika Medium Plain";
          font-size: 34px;
          color: #231f20;
          line-height: 1;
          margin: 0;
        }
        .slogan-company p {
          font-family: "Myriad Pro Semibold";
          font-size: 11px;
          color: #858689;
        }
      }
      .company-info {
        float: right;
        padding-top: 18px;
        font-family: "Myriad Pro Regular";
        p:first-child {
          color: #585755;
          font-size: 12px;
          margin-bottom: 5px;
        }
        p {
          font-size: 20px;
          color: #373737;
          text-align: right;
        }
        ul.nav {
          float: right;
          display: block;
          margin-top: 18px;
          li {
            float: left;
            display: block;
            a {
              font-size: 13px;
              text-transform: uppercase;
              color: #209a28;
              font-family: "Zurich__Condensed_BT";
              padding-left: 20px;
              text-decoration: none;
            }
          }
        }
      }
    }
    nav.main-nav {
      height: 40px;
      width: 100%;
      @include gradient(top, #66c13e, #0f941a);
      box-shadow: inset 1px 1px 1px #81de41;
      ul {
        display: block;
        padding: 0 13px;
        li {
          display: block;
          float: left;
          a {
            text-decoration: none;
            padding: 12px 20px;
            line-height: 40px;
            color: #fff;
            font-size: 15px;
            font-family: "Zurich__Bold_Condensed_BT";
          }
        }
        li:hover a {
          color: #209a28;
        }
      }
    }
    .active-link {
      padding-top: 15px;
      padding-bottom: 10px;
      a {
        color: #14961c;
        font-size: 12px;
        font-family: arial, sans-serif;
        padding-left: 25px;
        text-decoration: none;
      }
    }
    .main-content {
      float: left;
      .wrapper-main-content {
        float: left;
        padding: 17px;
        background-color: #fff;
        .slider {
          width: 706px;
          position: relative;
          //SLIDER
          .carousel {
            border: 1px solid #d4bd8a;
            border-radius: 8px;
            .right.right-side, div.carousel-control {
              width: 235px;
              background-color: #2b241c;
              text-align: left;
              padding-left: 15px;
              opacity: 0.8;
              h2 {
                font-size: 22px;
                font-family: "Zurich__Condensed_BT";
                color: #fff;
              }
              h2 > span {
                color: #28b028;
                font-size: 32px;
              }
              p {
                font-size: 12px;
                color: #fff;
                font-family: arial, sans-serif;
              }
              p > a {
                color: #28b028;
              }
              ul {
                li {
                  width: 20px;
                  height: 20px;
                  background-color: #6b685e;
                  border: 1px solid #6b685e;
                  vertical-align: middle;
                  font-size: 12px;
                  font-weight: bold;
                  color: #cbcbcb;
                  line-height: 20px;
                }
                li.active {
                  width: 25px;
                  height: 25px;
                  background-color: #4fbb35;
                  border: 1px solid #4fbb35;
                  border-radius: 25px;
                  color: #ffffff;
                  line-height: 23px;

                }
              }
            }
            .carousel-pagination li {
              display: inline-block;
              width: 20px;
              height: 20px;
              background-color: #6b685e;
              vertical-align: middle;
              border-radius: 25px;
              text-align: center;
              border: 1px solid #6b685e;
              cursor: pointer;
              text-indent: 0;

              &.active {
                width: 25px;
                height: 25px;
                background-color: #4fbb35;
                border-color: #4fbb35;
              }
            }
          }
          .slider-caption {
            float: left;
            width: 470px;
            h1 {
            color: #444137;
            font-family: "Zurich__Condensed_BT";
            font-size: 26px;
            margin: 25px 0 0 0;
            }
            p {
              color: #595447;
              font-size: 12px;
              font-family: arial, sans-serif;
              margin: 17px 0;
              line-height: 1.5;
            }
            p>a {
              color: #28b028;
              font-weight: bold;
              text-decoration: underline;
            }
          }
          .photographer {
            position: absolute;
            right: 45px;
            bottom: -10px;

          }
        }

        .tabs-block {
          border: none;
          padding: 0;
          ul {
            border: none;
            padding: 0;
            li {
              margin: 1px 0 0 0;
              width: 225px;
              padding: 0;
              height: 38px;
              border: 1px solid #d8d6cf;
              background: #fff;

              &.ui-state-active {
                border: 1px solid #59ba39;
                background: #59ba39;
                font-weight: normal;
              }

              a:focus {
                outline: none;
              }
            }
            li:last-child {
              border-radius: 0 8px 8px 0;
            }

            li:first-child {
              border-radius: 8px 0 0 8px;
            }
            li.ui-tabs-active {
              margin: 1px 0 -1px 0;
            }
            .ui-state-default {

            }
            .ui-state-active {
              background: #59ba39;

              a {
                color: #fff;
                font-size: 18px;
                font-family: "Zurich__Condensed_BT";
                width: 100%;
              }
              .green-caret-active {
                display: block;
              }

              .green-caret {
                display: none;
              }
            }

            .green-caret-active {
              width: 8px;
              height: 5px;
              background: url(../images/spr_arrows.png) no-repeat -7px 0;
              position: absolute;
              display: none;
              left: 108px;
              bottom: -6px;
            }

            .tab-content {
              position: relative;
              padding-left: 15px;
            }

            .green-caret {
              width: 6px;
              height: 7px;
              background: url(../images/spr_arrows.png) no-repeat;
              position: absolute;
              left: 3px;
              top: 7px;
              display: block;
            }


//            .ui-widget-content .ui-state-active,
//            .ui-widget-header .ui-state-active {
//              border: 1px solid #59ba39;
//              background: #59ba39;
//              font-weight: normal;
//            }

            .ui-widget-content .ui-state-focus a,
            .ui-widget-header .ui-state-focus a {
              outline: none;

            }
          }

          .ui-widget-content,
          .ui-widget-header  {
            background: #fff;
            span.caret-green {
              width: 6px;
              height: 7px;
              background: url(../images/spr_arrows.png) no-repeat;
              position: absolute;
              bottom: 14px;
//              left: 55px;
              left: 20px;
            }
            a {
              color: #444137;
              font-size: 18px;
              font-family: "Zurich__Condensed_BT";
              position: relative;
              width: 100%;
              text-align: center;
            }

          }


          // }



          .ui-tabs-nav .ui-tabs-anchor {
            padding-left: 0;
            padding-right: 0;

          }
          .ui-widget-content {
            background-color: #fff;
          }

        }

        .tab-wrapper.ui-widget-content.ui-tabs-panel {
          width: 705px;
          padding: 0;
          ul {
            display: block;
            margin-top: 23px;
            padding: 0;
            li {
              display: block;
              float: left;
              border: none;
              width: 220px;
              height: 245px;
              margin-right: 15px;
              a {
                text-decoration: none;
                text-align: left;
                font-family: arial, sans-serif;
                img {
                  border: 4px solid #e9e6df;
                  border-radius: 8px;
                }
                h3 {
                  font-weight: bold;
                  font-size: 14px;
                  color: #3a3731;
                  margin: 10px 0 12px 0;
                }
                p {
                  font-size: 12px;
                  line-height: 1.5;
                }
              }
            }
            li:last-child {
              margin-right: 0;
            }
          }
        }

        .tab-wrapper:after {
          content: "";
          clear: both;
          display: table;
        }

        .tab-wrapper ul:after {
          content: "";
          clear: both;
          display: table;
        }
      }
    }
    .sidebar {
      float: right;
      width: 250px;
      background-color: #ffffff;
      color: #3f3b30;
      .search-part, .sign-up-part, .news-part {
        border-bottom: 1px solid #e1dbce;
        .wrapper-sidebar {
          background-color: #f4f2ec;
          margin: 1px;
          padding: 20px;
          border-left: 1px solid #e8e3da;
            h3 {
              font-family: "Myriad Pro Regular";
              font-size: 14px;
              text-transform: uppercase;
              margin: 0;
            }
            p {
              font-size: 12px;
              font-family: arial, sans-serif;
              margin: 10px 0;
              line-height: 1.5;
            }
            .selects {
              ul.list-selects {
                li {
                  height: 31px;
                  margin-bottom: 12px;
                  .jquery-selectbox {
                    width: 197px !important;
                    height: 25px;
                    border: 1px solid #cfcdc5;
                    border-radius: 5px;
                    background-image: none;
                    box-shadow: 0px 0 3px #adaaa3;
                    @include gradient(top, #ffffff, #f4f3f1);
                    .jquery-selectbox-moreButton {
                      background: url(../images/img-select-default.png);
                      width: 21px;
                      height: 19px;
                      margin-top: 2px;
                    }
                    .jquery-selectbox-moreButton.morebuttonhover {
                      background: url(../images/img-select-default.png);
                      width: 21px;
                      height: 19px;
                      margin-top: 2px;
                    }
                    span.jquery-selectbox-currentItem {
                      font-size: 11px;
                      font-family: arial, sans-serif;
                      line-height: 16px;
                      padding-left: 8px;
                      color: #999999;
                      box-shadow: inset -1px -2px 6px #ffffff;
                    }
                    .jquery-selectbox-list {
                      width: 196px !important;
                      height: 50px !important;
                      border: 1px solid #cfcdc5;
                      background-color: #fff;
                      top: 21px;
                      padding: 2px 0;
                      span {
                        font-size: 11px;
                        font-family: arial, sans-serif;
                        line-height: 16px;
                        padding-left: 8px;
                        color: #999;
                      }
                      span.listelementhover {
                        background-color: #cacaca;
                      }
                    }
                  }
                  .jquery-selectbox.selecthover {
                    border: 1px solid #cfcdc5;
                    background-image: none;
                    @include gradient(top, #ffffff, #f4f3f1);
                    //                background: -webkit-linear-gradient(top, #ffffff, #f4f3f1);
                    //                background: -moz-linear-gradient(top, #ffffff, #f4f3f1);
                    //                background: -ms-linear-gradient(top, #ffffff, #f4f3f1);
                  }

                  &.active-select {
                    .jquery-selectbox {
                      span.jquery-selectbox-currentItem {
                        color: #231f20;
                      }
                    }
                    .jquery-selectbox-moreButton {
                      background: url(../images/img-select-active.png);
                    }
                    .jquery-selectbox-moreButton.morebuttonhover {
                      background: url(../images/img-select-active.png);
                    }
                    .jquery-selectbox-list {
                      span {
                        color: #231f20;
                      }
                      span.listelementhover {
                        background-color: #615b49;
                      }
                    }

                  }
                }
              }
            }
            button.search {
              width: 180px;
              height: 34px;
              border: 1px solid #0c932f;
              border-right: none;
              padding: 0;
              @include gradient(top, #66c13e, #0f941a);
              position: relative;
              box-shadow: 0px 0 5px #7b7b78;
              z-index: 2;
              border-radius: 5px 0 0 5px;
              margin-top: 3px;
              margin-bottom: 20px;

              span.button-arrow {
                height: 34px;
                width: 19px;
                background-image: url(../images/img-button-arrow.png);
                position: absolute;
                right: -19px;
                top: -1px;
              }
              .button {
                background: url(../images/img-button-arrow-right.png) no-repeat 95% 50%;
                width: 100%;
                height: 100%;
                z-index: 999;
                box-shadow: inset 1px 1px 1px #81de41;
                p {
                  font-family: "Klavika Medium Plain";
                  text-transform: uppercase;
                  font-size: 15px;
                  color: #ffffff;
                  padding-left: 15px;
                  margin: 0;
                  text-align: left;
                  line-height: 32px;
                }
              }
            }
            input[type="text"], input[type="email"] {
              width: 115px;
              height: 24px;
              border: 1px solid #cfcdc5;
              border-radius: 5px;
              box-shadow: 0px 0 3px #adaaa3;;
              padding-left: 10px;
              font-size: 11px;
              color: #666666;
              font-family: arial, sans-serif;
              margin-right: 10px;
            }
            input[type="email"] {
              width: 195px;
              margin-bottom: 7px;
            }

            button.quick-search {
              border: 1px solid #0c932f;
              @include gradient(top, #66c13e, #0f941a);
              box-shadow: 0px 0 5px #7b7b78;
              font-family: "Klavika Medium Plain";
              font-size: 14px;
              color: #ffffff;
              text-transform: uppercase;
              width: 65px;
              height: 25px;
              border-radius: 3px;
              padding: 0;
            }
          .news:last-child {
            margin-bottom: 16px;
          }
          }
        .wrapper-sidebar {
          padding-bottom: 17px;
        }
        .news p {
          margin: 7px 0 0 0;
        }
      }
      .news-part h4 {
        font-weight: bold;
        font-size: 12px;
        font-family: arial, sans-serif;
        line-height: 1.5;
        margin: 10px 0 0 0;
      }
      .news-part .news {
        margin-bottom: 25px;
      }
    }
  }
    .basement {
      margin-top: 20px;
      .name-basement {
        height: 40px;
        border-bottom: 2px solid #635543;
        text-align: center;
        @include gradient(top, #999387, #6f685e);
        border-radius: 5px;
        p {
          font-size: 16px;
          font-family: arial, sans-serif;
          font-style: italic;
          color: #ffffff;
          line-height: 42px;
        }
      }
      .content-basement {
        background-color: #f4f2ec;
        padding-top: 20px;
        height: 165px;
        width: 100%;
        .twitter-info {
          float: left;
          width: 250px;
          border-right: 1px solid #d8d6ce;
          padding: 0 30px 0 21px;
          a.twitter {
            font-family: "Klavika Medium Plain";
            background: url("../images/img-twitter.png") no-repeat right center;
            font-size: 14px;
            text-transform: uppercase;
            color: #64522a;
            padding-right: 36px;
          }
          p {
            color: #757268;
            font-size: 11px;
            font-family: arial, sans-serif;
            line-height: 1.5;
          }
          button.facebook {
            background-image: url(../images/img-facebook.png);
            width: 198px;
            height: 37px;
          }
        }
        .links-info, .contacts-info {
          float: left;
          padding: 0 30px;
          ul {
            float: left;
            margin-right: 45px;
            li {
              a {
                font-size: 12px;
                color: #757268;
                font-family: arial, sans-serif;
              }
            }
          }
          ul:last-child {
            margin-right: 0;
          }
          h3 {
            margin: 0 0 13px 0;
            font-size: 14px;
            color: #64522a;
            font-family: "Klavika Medium Plain";
            text-transform: uppercase;
          }

        }
        .contacts-info {
          border-left: 1px solid #d8d6ce;
          h3 {

          }
          p {
            font-size: 12px;
            font-family: arial, sans-serif;
            color: #757268;
          }
          p>span {
            font-weight: bold;
          }
        }

      }
    }
  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 116px;
    text-align: center;

    h5 {
      font-size: 11px;
      font-family: arial, sans-serif;
      font-weight: bold;
      color: #3a3731;
      margin-top: 20px;
    }
    p {
      color: #716c61;
      font-family: arial, sans-serif;
      font-size: 11px;
      margin: 10px 0 0 0;
    }
  }
}





