html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Klavika Medium Plain";
  src: url("../fonts/Klavika Medium Plain/Klavika Medium Plain.otf") format("opentype"); }
@font-face {
  font-family: "Myriad Pro Semibold";
  src: url("../fonts/Myriad Pro Semibold/Myriad Pro Semibold.ttf") format "truetype"; }
@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/Myriad Pro Regular/Myriad Pro Regular.ttf") format "truetype"; }
@font-face {
  font-family: "Zurich__Condensed_BT";
  src: url("../fonts/Zurich__Condensed_BT/Zurich__Condensed_BT.ttf") format "truetype"; }
@font-face {
  font-family: "Zurich__Bold_Condensed_BT";
  src: url("../fonts/Zurich__Condensed_BT/Zurich__Bold_Condensed_BT.ttf") format "truetype"; }
html, body {
  height: 100%; }

#ie #wrapper .main-content-wrapper .content-wrapper .sidebar {
  width: 249px; }
  #ie #wrapper .main-content-wrapper .content-wrapper .sidebar .search-part .jquery-selectbox {
    filter: none;
    -ms-filter: none; }
    #ie #wrapper .main-content-wrapper .content-wrapper .sidebar .search-part .jquery-selectbox span.jquery-selectbox-currentItem {
      box-shadow: none;
      background-color: #fff; }
    #ie #wrapper .main-content-wrapper .content-wrapper .sidebar .search-part .jquery-selectbox .jquery-selectbox-list {
      width: 196px;
      height: 50px; }

#wrapper {
  position: relative;
  min-height: 100%; }

.main-content-wrapper {
  padding-bottom: 116px; }

.center {
  margin: 0 auto; }

.clearfix {
  display: table;
  clear: both;
  content: ""; }

button:focus {
  outline: none; }

#wrapper {
  background: url(../images/img-backg-wrapper.png) repeat; }
  #wrapper .content-wrapper {
    width: 990px; }
    #wrapper .content-wrapper header {
      height: 110px;
      background: url(../images/shape-1-header.jpg) no-repeat 20px 25px; }
      #wrapper .content-wrapper header .logo {
        padding-top: 35px;
        padding-left: 55px;
        text-transform: uppercase;
        float: left; }
        #wrapper .content-wrapper header .logo .name-company p {
          font-family: "Klavika Medium Plain";
          font-size: 34px;
          color: #231f20;
          line-height: 1;
          margin: 0; }
        #wrapper .content-wrapper header .logo .slogan-company p {
          font-family: "Myriad Pro Semibold";
          font-size: 11px;
          color: #858689; }
      #wrapper .content-wrapper header .company-info {
        float: right;
        padding-top: 18px;
        font-family: "Myriad Pro Regular"; }
        #wrapper .content-wrapper header .company-info p:first-child {
          color: #585755;
          font-size: 12px;
          margin-bottom: 5px; }
        #wrapper .content-wrapper header .company-info p {
          font-size: 20px;
          color: #373737;
          text-align: right; }
        #wrapper .content-wrapper header .company-info ul.nav {
          float: right;
          display: block;
          margin-top: 18px; }
          #wrapper .content-wrapper header .company-info ul.nav li {
            float: left;
            display: block; }
            #wrapper .content-wrapper header .company-info ul.nav li a {
              font-size: 13px;
              text-transform: uppercase;
              color: #209a28;
              font-family: "Zurich__Condensed_BT";
              padding-left: 18px;
              text-decoration: none; }
    #wrapper .content-wrapper nav.main-nav {
      height: 40px;
      width: 100%;
      background: -webkit-linear-gradient(top, #66c13e, #0f941a);
      background: -moz-linear-gradient(top, #66c13e, #0f941a);
      background: -ms-linear-gradient(top, #66c13e, #0f941a);
      filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#66c13e', EndColorStr='#0f941a')";
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#66c13e', EndColorStr='#0f941a')";
      box-shadow: inset 1px 1px 1px #81de41; }
      #wrapper .content-wrapper nav.main-nav ul {
        display: block;
        padding: 0 13px; }
        #wrapper .content-wrapper nav.main-nav ul li {
          display: block;
          float: left; }
          #wrapper .content-wrapper nav.main-nav ul li a {
            text-decoration: none;
            padding: 12px 18px;
            line-height: 40px;
            color: #fff;
            font-size: 15px;
            font-family: "Zurich__Bold_Condensed_BT"; }
        #wrapper .content-wrapper nav.main-nav ul li:hover a {
          color: #209a28; }
    #wrapper .content-wrapper .active-link {
      padding-top: 15px;
      padding-bottom: 10px; }
      #wrapper .content-wrapper .active-link a {
        color: #14961c;
        font-size: 12px;
        font-family: arial, sans-serif;
        padding-left: 25px;
        text-decoration: none; }
    #wrapper .content-wrapper .main-content {
      float: left; }
      #wrapper .content-wrapper .main-content .wrapper-main-content {
        float: left;
        padding: 17px;
        background-color: #fff; }
        #wrapper .content-wrapper .main-content .wrapper-main-content .slider {
          width: 706px;
          position: relative; }
          #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel {
            border: 1px solid #d4bd8a;
            border-radius: 8px; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel .right.right-side, #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel div.carousel-control {
              width: 235px;
              background-color: #2b241c;
              text-align: left;
              padding-left: 15px;
              opacity: 0.8; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel .right.right-side h2, #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel div.carousel-control h2 {
                font-size: 22px;
                font-family: "Zurich__Condensed_BT";
                color: #fff; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel .right.right-side h2 > span, #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel div.carousel-control h2 > span {
                color: #28b028;
                font-size: 32px; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel .right.right-side p, #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel div.carousel-control p {
                font-size: 12px;
                color: #fff;
                font-family: arial, sans-serif; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel .right.right-side p > a, #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel div.carousel-control p > a {
                color: #28b028; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel .right.right-side ul li, #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel div.carousel-control ul li {
                width: 20px;
                height: 20px;
                background-color: #6b685e;
                border: 1px solid #6b685e;
                vertical-align: middle;
                font-size: 12px;
                font-weight: bold;
                color: #cbcbcb;
                line-height: 20px; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel .right.right-side ul li.active, #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel div.carousel-control ul li.active {
                width: 25px;
                height: 25px;
                background-color: #4fbb35;
                border: 1px solid #4fbb35;
                border-radius: 25px;
                color: #ffffff;
                line-height: 23px; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel .carousel-pagination li {
              display: inline-block;
              width: 20px;
              height: 20px;
              background-color: #6b685e;
              vertical-align: middle;
              border-radius: 25px;
              text-align: center;
              border: 1px solid #6b685e;
              cursor: pointer;
              text-indent: 0; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .slider .carousel .carousel-pagination li.active {
                width: 25px;
                height: 25px;
                background-color: #4fbb35;
                border-color: #4fbb35; }
          #wrapper .content-wrapper .main-content .wrapper-main-content .slider .slider-caption {
            float: left;
            width: 470px; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .slider .slider-caption h1 {
              color: #444137;
              font-family: "Zurich__Condensed_BT";
              font-size: 26px;
              margin: 25px 0 0 0; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .slider .slider-caption p {
              color: #595447;
              font-size: 12px;
              font-family: arial, sans-serif;
              margin: 17px 0;
              line-height: 1.5; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .slider .slider-caption p > a {
              color: #28b028;
              font-weight: bold;
              text-decoration: underline; }
          #wrapper .content-wrapper .main-content .wrapper-main-content .slider .photographer {
            position: absolute;
            right: 45px;
            bottom: -10px; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .slider .photographer img {
              width: 187px;
              height: 148px; }
        #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block {
          border: none;
          padding: 0; }
          #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul {
            border: none;
            padding: 0; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul li {
              margin: 1px 0 0 0;
              width: 225px;
              padding: 0;
              height: 38px;
              border: 1px solid #d8d6cf;
              background: #fff; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul li.ui-state-active {
                border: 1px solid #59ba39;
                background: -webkit-linear-gradient(top, #66c13e, #0f941a);
                background: -moz-linear-gradient(top, #66c13e, #0f941a);
                background: -ms-linear-gradient(top, #66c13e, #0f941a);
                filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#66c13e', EndColorStr='#0f941a')";
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#66c13e', EndColorStr='#0f941a')";
                font-weight: normal; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul li a:focus {
                outline: none; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul li:last-child {
              border-radius: 0 8px 8px 0; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul li:first-child {
              border-radius: 8px 0 0 8px; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul li.ui-tabs-active {
              margin: 1px 0 -1px 0; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul .ui-state-active {
              background: #59ba39; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul .ui-state-active a {
                color: #fff;
                font-size: 18px;
                font-family: "Zurich__Condensed_BT";
                width: 100%; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul .ui-state-active .green-caret-active {
                display: block; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul .ui-state-active .green-caret {
                display: none; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul .green-caret-active {
              width: 8px;
              height: 5px;
              background: url(../images/spr_arrows.png) no-repeat -7px 0;
              position: absolute;
              display: none;
              left: 108px;
              bottom: -6px; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul .tab-content {
              position: relative;
              padding-left: 15px; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul .green-caret {
              width: 6px;
              height: 7px;
              background: url(../images/spr_arrows.png) no-repeat;
              position: absolute;
              left: 3px;
              top: 7px;
              display: block; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul .ui-widget-content .ui-state-focus a,
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block ul .ui-widget-header .ui-state-focus a {
              outline: none; }
          #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block .ui-widget-content,
          #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block .ui-widget-header {
            background: #fff; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block .ui-widget-content span.caret-green,
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block .ui-widget-header span.caret-green {
              width: 6px;
              height: 7px;
              background: url(../images/spr_arrows.png) no-repeat;
              position: absolute;
              bottom: 14px;
              left: 20px; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block .ui-widget-content a,
            #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block .ui-widget-header a {
              color: #444137;
              font-size: 18px;
              font-family: "Zurich__Condensed_BT";
              position: relative;
              width: 100%;
              text-align: center; }
          #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block .ui-tabs-nav .ui-tabs-anchor {
            padding-left: 0;
            padding-right: 0; }
          #wrapper .content-wrapper .main-content .wrapper-main-content .tabs-block .ui-widget-content {
            background-color: #fff; }
        #wrapper .content-wrapper .main-content .wrapper-main-content .tab-wrapper.ui-widget-content.ui-tabs-panel {
          width: 705px;
          padding: 0; }
          #wrapper .content-wrapper .main-content .wrapper-main-content .tab-wrapper.ui-widget-content.ui-tabs-panel ul {
            display: block;
            margin-top: 23px;
            padding: 0; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tab-wrapper.ui-widget-content.ui-tabs-panel ul li {
              display: block;
              float: left;
              border: none;
              width: 220px;
              height: 245px;
              margin-right: 15px; }
              #wrapper .content-wrapper .main-content .wrapper-main-content .tab-wrapper.ui-widget-content.ui-tabs-panel ul li a {
                text-decoration: none;
                text-align: left;
                font-family: arial, sans-serif; }
                #wrapper .content-wrapper .main-content .wrapper-main-content .tab-wrapper.ui-widget-content.ui-tabs-panel ul li a img {
                  border: 4px solid #e9e6df;
                  border-radius: 8px;
                  width: 212px;
                  height: 98px; }
                #wrapper .content-wrapper .main-content .wrapper-main-content .tab-wrapper.ui-widget-content.ui-tabs-panel ul li a h3 {
                  font-weight: bold;
                  font-size: 14px;
                  color: #3a3731;
                  margin: 10px 0 12px 0; }
                #wrapper .content-wrapper .main-content .wrapper-main-content .tab-wrapper.ui-widget-content.ui-tabs-panel ul li a p {
                  font-size: 12px;
                  line-height: 1.5; }
            #wrapper .content-wrapper .main-content .wrapper-main-content .tab-wrapper.ui-widget-content.ui-tabs-panel ul li:last-child {
              margin-right: 0; }
        #wrapper .content-wrapper .main-content .wrapper-main-content .tab-wrapper:after {
          content: "";
          clear: both;
          display: table; }
        #wrapper .content-wrapper .main-content .wrapper-main-content .tab-wrapper ul:after {
          content: "";
          clear: both;
          display: table; }
    #wrapper .content-wrapper .sidebar {
      float: right;
      width: 250px;
      background-color: #ffffff;
      color: #3f3b30; }
      #wrapper .content-wrapper .sidebar .search-part, #wrapper .content-wrapper .sidebar .sign-up-part, #wrapper .content-wrapper .sidebar .news-part {
        border-bottom: 1px solid #e1dbce; }
        #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar {
          background-color: #f4f2ec;
          margin: 1px;
          padding: 20px;
          border-left: 1px solid #e8e3da; }
          #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar h3, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar h3, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar h3 {
            font-family: "Myriad Pro Regular";
            font-size: 14px;
            text-transform: uppercase;
            margin: 0; }
          #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar p, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar p, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar p {
            font-size: 12px;
            font-family: arial, sans-serif;
            margin: 10px 0;
            line-height: 1.5; }
          #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li {
            height: 31px;
            margin-bottom: 12px; }
            #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox {
              width: 197px !important;
              height: 25px;
              border: 1px solid #cfcdc5;
              border-radius: 5px;
              background-image: none;
              box-shadow: 0px 0 3px #adaaa3;
              background: -webkit-linear-gradient(top, #ffffff, #f4f3f1);
              background: -moz-linear-gradient(top, #ffffff, #f4f3f1);
              background: -ms-linear-gradient(top, #ffffff, #f4f3f1);
              filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f4f3f1')";
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f4f3f1')"; }
              #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-moreButton, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-moreButton, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-moreButton {
                background: url(../images/img-select-default.png);
                width: 21px;
                height: 19px;
                margin-top: 2px; }
              #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-moreButton.morebuttonhover, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-moreButton.morebuttonhover, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-moreButton.morebuttonhover {
                background: url(../images/img-select-default.png);
                width: 21px;
                height: 19px;
                margin-top: 2px; }
              #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox span.jquery-selectbox-currentItem, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox span.jquery-selectbox-currentItem, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox span.jquery-selectbox-currentItem {
                font-size: 11px;
                font-family: arial, sans-serif;
                line-height: 16px;
                padding-left: 8px;
                color: #999999;
                box-shadow: inset -1px -2px 6px #ffffff; }
              #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-list, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-list, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-list {
                width: 196px !important;
                height: 50px !important;
                border: 1px solid #cfcdc5;
                background-color: #fff;
                top: 21px;
                padding: 2px 0; }
                #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-list span, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-list span, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-list span {
                  font-size: 11px;
                  font-family: arial, sans-serif;
                  line-height: 16px;
                  padding-left: 8px;
                  color: #999; }
                #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-list span.listelementhover, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-list span.listelementhover, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox .jquery-selectbox-list span.listelementhover {
                  background-color: #cacaca; }
            #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox.selecthover, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox.selecthover, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li .jquery-selectbox.selecthover {
              border: 1px solid #cfcdc5;
              background-image: none;
              background: -webkit-linear-gradient(top, #ffffff, #f4f3f1);
              background: -moz-linear-gradient(top, #ffffff, #f4f3f1);
              background: -ms-linear-gradient(top, #ffffff, #f4f3f1);
              filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f4f3f1')";
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f4f3f1')"; }
            #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox span.jquery-selectbox-currentItem, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox span.jquery-selectbox-currentItem, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox span.jquery-selectbox-currentItem {
              color: #231f20; }
            #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox-moreButton, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox-moreButton, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox-moreButton {
              background: url(../images/img-select-active.png); }
            #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox-moreButton.morebuttonhover, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox-moreButton.morebuttonhover, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox-moreButton.morebuttonhover {
              background: url(../images/img-select-active.png); }
            #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox-list span, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox-list span, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox-list span {
              color: #231f20; }
            #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox-list span.listelementhover, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox-list span.listelementhover, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .selects ul.list-selects li.active-select .jquery-selectbox-list span.listelementhover {
              background-color: #615b49; }
          #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar button.search, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar button.search, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar button.search {
            width: 180px;
            height: 34px;
            border: 1px solid #0c932f;
            border-right: none;
            padding: 0;
            position: relative;
            background: -webkit-linear-gradient(top, #66c13e, #0f941a);
            background: -moz-linear-gradient(top, #66c13e, #0f941a);
            background: -ms-linear-gradient(top, #66c13e, #0f941a);
            filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#66c13e', EndColorStr='#0f941a')";
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#66c13e', EndColorStr='#0f941a')";
            box-shadow: 0px 0 5px #7b7b78;
            z-index: 2;
            border-radius: 5px 0 0 5px;
            margin-top: 3px;
            margin-bottom: 20px; }
            #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar button.search .button, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar button.search .button, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar button.search .button {
              background: url(../images/img-button-arrow-right.png) no-repeat 95% 50%;
              width: 100%;
              height: 100%;
              z-index: 999;
              box-shadow: inset 1px 1px 1px #81de41;
              position: relative; }
              #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar button.search .button p, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar button.search .button p, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar button.search .button p {
                font-family: "Klavika Medium Plain";
                text-transform: uppercase;
                font-size: 15px;
                color: #ffffff;
                padding-left: 15px;
                margin: 0;
                text-align: left;
                line-height: 32px; }
              #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar button.search .button span.button-arrow, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar button.search .button span.button-arrow, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar button.search .button span.button-arrow {
                height: 34px;
                width: 19px;
                background-image: url(../images/img-button-arrow.png);
                position: absolute;
                right: -19px;
                top: -1px; }
          #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar input[type="text"], #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar input[type="email"], #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar input[type="text"], #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar input[type="email"], #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar input[type="text"], #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar input[type="email"] {
            width: 115px;
            height: 24px;
            border: 1px solid #cfcdc5;
            border-radius: 5px;
            box-shadow: 0px 0 3px #adaaa3;
            padding-left: 10px;
            font-size: 11px;
            color: #666666;
            font-family: arial, sans-serif;
            margin-right: 10px; }
          #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar input[type="email"], #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar input[type="email"], #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar input[type="email"] {
            width: 195px;
            margin-bottom: 7px; }
          #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar button.quick-search, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar button.quick-search, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar button.quick-search {
            border: 1px solid #0c932f;
            background: -webkit-linear-gradient(top, #66c13e, #0f941a);
            background: -moz-linear-gradient(top, #66c13e, #0f941a);
            background: -ms-linear-gradient(top, #66c13e, #0f941a);
            filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#66c13e', EndColorStr='#0f941a')";
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#66c13e', EndColorStr='#0f941a')";
            box-shadow: 0px 0 5px #7b7b78;
            font-family: "Klavika Medium Plain";
            font-size: 14px;
            color: #ffffff;
            text-transform: uppercase;
            width: 65px;
            height: 25px;
            border-radius: 3px;
            padding: 0; }
          #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar .news:last-child, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar .news:last-child, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar .news:last-child {
            margin-bottom: 16px; }
        #wrapper .content-wrapper .sidebar .search-part .wrapper-sidebar, #wrapper .content-wrapper .sidebar .sign-up-part .wrapper-sidebar, #wrapper .content-wrapper .sidebar .news-part .wrapper-sidebar {
          padding-bottom: 17px; }
        #wrapper .content-wrapper .sidebar .search-part .news p, #wrapper .content-wrapper .sidebar .sign-up-part .news p, #wrapper .content-wrapper .sidebar .news-part .news p {
          margin: 7px 0 0 0; }
      #wrapper .content-wrapper .sidebar .news-part h4 {
        font-weight: bold;
        font-size: 12px;
        font-family: arial, sans-serif;
        line-height: 1.5;
        margin: 10px 0 0 0; }
      #wrapper .content-wrapper .sidebar .news-part .news {
        margin-bottom: 25px; }
  #wrapper .basement {
    margin-top: 20px; }
    #wrapper .basement .name-basement {
      height: 40px;
      border-bottom: 2px solid #635543;
      text-align: center;
      background: -webkit-linear-gradient(top, #999387, #6f685e);
      background: -moz-linear-gradient(top, #999387, #6f685e);
      background: -ms-linear-gradient(top, #999387, #6f685e);
      filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#999387', EndColorStr='#6f685e')";
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#999387', EndColorStr='#6f685e')";
      border-radius: 5px; }
      #wrapper .basement .name-basement p {
        font-size: 16px;
        font-family: arial, sans-serif;
        font-style: italic;
        color: #ffffff;
        line-height: 42px; }
    #wrapper .basement .content-basement {
      background-color: #f4f2ec;
      padding-top: 20px;
      height: 165px;
      width: 100%; }
      #wrapper .basement .content-basement .add-div-vertic-line {
        width: 1px;
        height: 120px;
        border-right: 1px solid #d8d6ce;
        float: left;
        margin-top: -5px;
        display: block; }
      #wrapper .basement .content-basement .twitter-info {
        float: left;
        width: 250px;
        padding: 0 30px 0 20px; }
        #wrapper .basement .content-basement .twitter-info a.twitter {
          font-family: "Klavika Medium Plain";
          background: url("../images/img-twitter.png") no-repeat right center;
          font-size: 14px;
          text-transform: uppercase;
          color: #64522a;
          padding-right: 36px; }
        #wrapper .basement .content-basement .twitter-info p {
          color: #757268;
          font-size: 11px;
          font-family: arial, sans-serif;
          line-height: 1.5; }
        #wrapper .basement .content-basement .twitter-info button.facebook {
          background-image: url(../images/img-facebook.png);
          width: 198px;
          height: 37px; }
      #wrapper .basement .content-basement .links-info, #wrapper .basement .content-basement .contacts-info {
        float: left;
        padding: 0 30px; }
        #wrapper .basement .content-basement .links-info ul, #wrapper .basement .content-basement .contacts-info ul {
          float: left;
          margin-right: 45px; }
          #wrapper .basement .content-basement .links-info ul li a, #wrapper .basement .content-basement .contacts-info ul li a {
            font-size: 12px;
            color: #757268;
            font-family: arial, sans-serif; }
        #wrapper .basement .content-basement .links-info ul:last-child, #wrapper .basement .content-basement .contacts-info ul:last-child {
          margin-right: 0; }
        #wrapper .basement .content-basement .links-info h3, #wrapper .basement .content-basement .contacts-info h3 {
          margin: 0 0 13px 0;
          font-size: 14px;
          color: #64522a;
          font-family: "Klavika Medium Plain";
          text-transform: uppercase; }
      #wrapper .basement .content-basement .contacts-info p {
        font-size: 12px;
        font-family: arial, sans-serif;
        color: #757268; }
      #wrapper .basement .content-basement .contacts-info p > span {
        font-weight: bold; }
  #wrapper footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 116px;
    text-align: center; }
    #wrapper footer h5 {
      font-size: 11px;
      font-family: arial, sans-serif;
      font-weight: bold;
      color: #3a3731;
      margin-top: 20px; }
    #wrapper footer p {
      color: #716c61;
      font-family: arial, sans-serif;
      font-size: 11px;
      margin: 10px 0 0 0; }

/*# sourceMappingURL=style.css.map */
